#menu{
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 500px;
    background-color: rgba(48, 51, 51,0.75);
}

#mainChart{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px;
}