#peopleDiv{
    position: absolute;
    top: 0;
    left: 100px;
}
#menu{
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 500px;
    background-color: rgba(48, 51, 51,0.75);
}

#mainChart{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px;
}

#configs{
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    background-color: rgb(20, 90, 120);
}

#configs:hover{
    height: 200px;
}

#configs:hover #menu1{
    display: block;
}

#configs:hover #menu2{
    display: block;
}

#configs:hover #menu3{
    display: block;
}

#configs:hover #menu4{
    display: block;
}
#configs:hover #menu5{
    display: block;
}

#configs:hover #applyBt{
    display: block;
}

#menu1{
    position: absolute;
    top: 50px;
    width: 50px;
    height: 50px;
    background-color: rgb(200, 120, 90);
    display: none;
}

#menu2{
    position: absolute;
    top: 100px;
    width: 50px;
    height: 50px;
    background-color: rgb(195, 209, 68);
    display: none;
}

#menu3{
    position: absolute;
    top: 150px;
    width: 50px;
    height: 50px;
    background-color: rgb(235, 25, 225);
    display: none;
}

#menu4{
    position: absolute;
    top: 200px;
    width: 50px;
    height: 50px;
    background-color: rgb(235, 125, 25);
    display: none;
}

#menu5{
    position: absolute;
    top: 250px;
    width: 50px;
    height: 50px;
    background-color: rgb(235, 125, 25);
    display: none;
}

#applyBt{
    position: absolute;
    top: 300px;
    width: 50px;
    height: 50px;
    background-color: rgb(49, 235, 25);
    display: none;
}



#basinConfigs{
    position: absolute;
    top: 0;
    left: 50px;
    width: 500px;
    height: 450px;
    background-color: rgb(200, 120, 90);
    display: none;

    font-size: initial;
    text-align: initial;
    z-index: 30;
}

#hydroConfigs{
    position: absolute;
    top: -50px;
    left: 50px;
    width: 500px;
    height: 400px;
    background-color: rgb(195, 209, 68);
    display: none;

    text-align: initial;
    font-size: initial;
    z-index: 30;
}

#waterConfigs{
    position: absolute;
    top: -100px;
    left: 50px;
    width: 500px;
    height: 370px;
    background-color: rgb(235, 25, 225);
    display: none;

    font-size: initial;
    text-align: initial;
    z-index: 30;
}

#rainConfigs{
    position: absolute;
    top: -200px;
    left: 50px;
    width: 450px;
    height: 580px;
    background-color: rgb(235, 125, 25);
    display: none;

    font-size: initial;
    text-align: initial;
    z-index: 30;
}

#popData{
    position: absolute;
    top: -200px;
    left: 50px;
    width: 450px;
    height: 580px;
    background-color: rgb(235, 125, 25);
    display: none;

    font-size: initial;
    text-align: initial;
    z-index: 30;
}


#rainConfigs input{
    margin-right: 6px;
    width: 30px;
}

#jan{
    margin-left: 40px;
}

#menu1:hover #basinConfigs{
    display: block;
    /* width: 150px;
    height: 150px; */
}

#menu2:hover #hydroConfigs{
    display: block;
    /* width: 150px;
    height: 150px; */
}

#menu3:hover #waterConfigs{
    display: block;
    /* width: 150px;
    height: 150px; */
}

#menu4:hover #rainConfigs{
    display: block;
    /* width: 150px;
    height: 150px; */
}
#n{
    width: 100px !important;
}

#menu5:hover #popData{
    display: block;
}

#riverFlow{
    display: inline;
   width: 150px;
   height: 100px;
}

#effectiveGraph{
    width: 150px;
    height: 100px;
}

#rainGraph{
    width: 150px;
    height: 100px;
}

#energyProduction{
    width: 150px;
    height: 100px;
}

#waterProduction{
    width: 150px;
    height: 100px;
}

#popChart{
    width: 50px;
    height: 100px;
}



