#sideMenu{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(230,230,230);
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    width: 200px;
    height: 100%;
    z-index: 2;
}
#sideMenubg{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(5, 175, 175);
    width: 205px;
    height: 100%;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    z-index: 1;
}
#content{
    position: absolute;
    top: 0;
    left: 200px;
  
    width: calc(100vw - 205px); 
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

#content p{
    text-align: center;
    text-justify: auto;
}

#intro{
    height: 100%;
}



#references{
    height: 100%;
}

@media only screen and (min-width: 992px) {

    #imgCity{
        margin-left: 0;
        width: 700px; 
        height: 500px;
    }
    #imgHouses{
        width: 800px; 
        height: 500px;
    }
    #basinMenu{
        width: 600px; 
        height: 500px;
    }
} 
@media only screen and (min-width: 1200px) {

    #imgCity{
        margin-left: 150px;
        width: 800px; 
        height: 500px;
    }
    #imgHouses{
        margin-left: 200px;
        width: 800px; 
        height: 500px;
    }
    #basinMenu{
        margin-left: 300px;
        width: 600px; 
        height: 500px;
    }
}